# Exclude development source folders
src/assets/src/ export-ignore

# Exclude config and metadata files not needed in production
.gitattributes export-ignore

# Exclude documentation and meta files
README.md export-ignore
LICENSE export-ignore

# Exclude package managers' config
package-lock.json export-ignore
